.footer{
    z-index: 1;
    background-color: #F8F8F8;
    &_container{
        padding-top: 50px;
        padding-bottom: 75px;
        display: flex;
        @media (max-width: 767px){
            flex-direction: column;
        }
    }
}
.footer-info {
    max-width: 340px;
    @media (max-width: 992px){
        max-width: 300px;
    }
    @media (max-width: 767px){
        margin: 0 auto;
        //max-width: 100%;
    }
    .main-text_footer{
        margin: 0;
        p{
            text-align: start;
            @media (max-width: 992px){
                font-size: 14px;
            }
            @media (max-width: 992px){
                text-align: center;
            }
        }
    }
    .logo{
        @media (max-width: 767px){
            display: flex;
            justify-content:center;
        }
        img{
            @media (max-width: 992px){
                width: auto;
            }
            
        }
    }
    &_date{
        margin-top: 20px;
        color: #AFB5C0;
        font-weight: 400;
        font-size: 16px;
        @media (max-width: 992px){
            text-align: center;
        }
    }
    &_socios{
        margin-top: 20px;
        display: flex;
        gap: 20px;
        @media (max-width: 992px){
            justify-content: center;
        }
        &-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: $white;
            border-radius: 20px;
            cursor: pointer;
            transition:all .3s ;
            &:hover{
                box-shadow: 0 3px 2px 1px rgba($color: #000000, $alpha: 0.1);
            }
            img{
                width: 20px;
                height: auto;
                filter: invert(41%) sepia(41%) saturate(5367%) hue-rotate(327deg) brightness(93%) contrast(107%);
                
            }   
        }
    }
}

.footer-menu{
    display: flex;
    gap: 100px;
    margin-top: 10px;
    margin-left: auto;
    @media (max-width: 992px){
        gap: 50px;
    }
    @media (max-width: 767px){
        margin: 20px 0 0 0;
        gap: 0;
        justify-content: space-between;
    }
    @media (max-width: 425px){
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .menu-footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 425px){
            width: 110px;
        }
        &_head{
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 18px;
            color: $colorDark;
            @media (max-width: 992px){
                font-size: 16px;
            }
            @media (max-width: 767px){
                text-align: center;
                margin-bottom: 0;
            }
        }
        &_item{
            @media (max-width: 767px){
                text-align: center;
            }
            @media (max-width: 425px){
                text-align: center;
            }
        }
        &_item-link{
            font-weight: 400;
            font-size: 16px;
            color: $colorPrimary;
            transition:all .3s ;
            @media (max-width: 992px){
                font-size: 14px;
            }
            &:hover{
                color: $colorSecondary;
            }
        }
    }
}