// HEADER

.header_container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    @media (max-width: 425px){
        padding-bottom: 25px;
    }
}
.logo{
    margin: auto;
    z-index: 10;
    cursor: pointer;
    img{
        
        @media (max-width: 992px){
           width: 110px;
        }
    }
    @media (max-width: 768px){
        margin: 0;
    }
}

// NAVBAR

.menu {
    margin: auto;
    display: flex;
    flex-grow: 1;
}
.menu_list {
    display: flex;
    gap: 40px;
    margin: auto;
    @media (max-width: 992px){
        gap: 20px;
    }
}
.menu_item {
    .menu_item-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: $colorPrimary;
        transition: 0.3s color;
        &:hover{
            color: $colorSecondary;
        }
        @media (max-width: 992px){
            font-size: 13px;
        }
    }

}
// BUTTONS

.btn{
    display: flex;
    margin: auto 0;
    gap: 30px;
    &_sign-in{
        font-size: 16px;
        color: $colorDark;
        font-weight: 500;
        margin: auto 0;
        transition: 0.3s color;
        &:hover { 
            color: $colorSecondary;
        }
        @media (max-width: 992px){
            font-size: 13px;
        }
    }
    &_wrapper{
        cursor: pointer;
        color: $colorSecondary;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 40px;
        border: 1px solid $colorSecondary;
        border-radius: 50px;
        transition: 0.3s all;
        text-align: center;
        &:hover { 
            color: $white;
            background-color: $colorSecondary;
        }
        @media (max-width: 992px){
            font-size: 13px;
            padding: 0.3rem 1.2rem;
        }
    }
    
}

// BURGER

.burger{
    display: none;
    cursor: pointer;
    margin: auto 0;
    z-index: 10;
    &_line{
        display: block;
        width: 22px;
        height: 2px;
        margin: 5px 0 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: $black;
    } 

}
@media (max-width: 767px){
    .burger{
        display: block;
        flex-grow: 1;
    }
    .burger.active .burger_line:nth-child(2){
        opacity: 0;
    }
    .burger.active .burger_line:nth-child(1){
        transform: translateY(7px) rotate(45deg);
    }
    .burger.active .burger_line:nth-child(3){
        transform:  translateY(-7px) rotate(-45deg);
    } 
    .menu{
        width: 100%;
        height: 100%;
        padding-top: 100px;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #F8F8F8;
        transform: translateX(1020%);
        transition: transform 0.2s ;
        &_list{
            flex-direction: column;
            text-align: center;
            gap: 0;
            margin:0;
        }
        .btn{
            flex-direction: column;
            gap: 0;
            margin: 2em 0;
            &_sign-in{
                padding: 10px 0;
                color: $colorDark;
                text-align: center;
            }
            &_wrapper{
                padding: 10px 0;
                text-align: center;
                border: none;
                background-color: $colorSecondary;
                color: $white;
                border-radius: 10px;
            }
        }
        &.active{
            position: fixed;
            transform: translateX(0);
        }
    }
    .menu_item{
        margin: 1em 0;
        .menu_item-link{
            font-weight: 500;
        }
    }
}
