.info_container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    box-shadow: 0px 5px 30px 5px rgba($color: #000000, $alpha: .10);
    .info-block{
        display: flex;
        flex-basis: 33%;
        gap: 35px;
        border-right: 2px solid #EEEFF2;
        .info-img{
            margin: auto 0 auto auto;
            img{
                @media (max-width: 768px){
                    width: 45px;
                }
                @media (max-width: 768px){
                    width: 30px;
                }
            }
        }
        .info-text{
            margin: auto auto auto 0;
            &_head{
                text-align: center;
                font-weight: 700;
                font-size: 25px;
                color: $colorDark;
                @media (max-width: 768px){
                    font-size: 18px;
                }
                @media (max-width: 425px){
                    font-size: 14px;
                }
            }
            &_main{
                font-weight: 400;
                font-size: 20px;
                color: $colorPrimary;
                @media (max-width: 768px){
                    font-size: 14px;
                }
                @media (max-width: 425px){
                    font-size: 10px;
                }
            }
        }
        @media (max-width: 768px){
            gap: 20px;
        }
        @media (max-width: 425px){
            gap: 5px;
        }
        &:nth-child(3){
            border: 0;
        }
        @media (max-width: 425px){
            border-right: none;
        }
    }
    @media (max-width: 425px){
        padding: 25px 15px;
    }
    
}
