.testimonials_container{
    padding-bottom: 50px;
}
.main-text_testimonials{
    margin-bottom: 30px;
    .main-text_head{
        max-width: 450px;
        background-color: #fff;
    }
    
}
.swiper{
    width: 100%;
}
.swiper-wrapper {

    .swiper-slide {
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        height: 230px;
        padding: 30px;
        @media (max-width: 375px){
            padding: 30px 5px;
        }
        &:hover{
            border: 2px solid $colorSecondary;
        }
    }
}

.swiper-slide_head {
    display: flex;
    width: 100%;
    img{
        @media (max-width: 375px){
            width: 30px;
            height: 30px;
        }
    }
    &-caption {
        margin: auto 0 auto 20px;
        @media (max-width: 375px){
            margin: auto 0 auto 5px;
        }
       &_name {
            font-weight: 500;
            font-size: 18px;
            color: $colorDark;
            @media (max-width: 375px){
                font-size: 14px;
            }
        }
        &_location {
            font-weight: 400;
            font-size: 14px;
            color: $colorPrimary;
            @media (max-width: 375px){
                font-size: 12px;
            }
        } 
    }
    &-mark {
        display: flex;
        margin: auto 0 auto auto;
        gap: 10px;
        p{
            margin: auto 0;
            font-weight: 400;
            font-size: 16px;
            color: $colorDark;
        }
        @media (max-width: 375px){
            img{
                width: 20px;
                height: auto
            }
            p{
                font-size: 12px;
            }
        }
    }
    
}
.swiper-slide_main {
    margin-top: 20px;
    p{
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: $colorDark;
        text-align: justify;
        text-justify: inter-word;
        @media (max-width: 375px){
            line-height: 20px;
        }
    }
}
// PAGINATION
.swiper-control{    
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    @media (max-width: 425px){
        margin-top: 20px;
    }
    .swiper-leaf{
        display: flex;
        gap:10px;
        .swiper-leaf-prev,.swiper-leaf-next{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 60px;
            height: 60px;
            border: 2px solid $colorSecondary;
            margin-left: 10px;
            border-radius: 30px;
            transition: all 0.3s;
            @media (max-width: 425px){
                width: 40px;
                height: 40px;
                border-radius: 20px;;
            }
            img{
                filter: grayscale(0) ;
                transition: all 0.3s;
                @media (max-width: 425px){
                    width: 15px;
                    height: auto;
                }
            }
            &:hover{
                background-color: $colorSecondary;
                img{
                    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(103%) contrast(101%);
                }
            }
        }

        .swiper-leaf-next{
            transform: rotate(180deg);
        }
    }
    
}
.swiper-pagination-main{
    display: block;
    margin: auto 0;
    .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        @media (max-width: 425px){
            width: 8px;
            height: 8px;
        }
    }
    .swiper-pagination-bullet-active{
        background-color: $colorSecondary;
        width: 45px;
        border-radius:10px;
        @media (max-width: 425px){
            width: 25px;
            border-radius:5px;
        }
    }
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
    width: fit-content;
}



